@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap');

$font-lexend: 'Lexend', sans-serif;
$black: #000;

@mixin lexend-bold {
  font-family: $font-lexend;
  font-weight: 700;
}



.lector-modal-container {
  width: 595px;
  background-color: #fff;
  position: fixed;
  overflow-y: auto; 
  max-height: 90vh;
  top: 5%; 
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999; 
  & .lector-modal-main-info {
    max-width: 376px;
    margin: 0 auto;
    padding-top: 86px;
    padding-bottom: 86px;
    & .lector-close-modal-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      border: none;
      padding: 0px;
      background-color: #fff;
      &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }
      & img {
        display: block;
        width: 40px;
        height: 40px;
      }
    }
    & h1 {
      @include lexend-bold;
      color: $black;
      font-size: 20px;
      line-height: 32px;
      text-align: center;
    }
    & .lector-container-button-create {
      margin-top: 32px;
    }
  }
}
