@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

$font-lexend: 'Lexend', sans-serif;

@mixin lexend-regular {
  font-family: $font-lexend;
  font-weight: 400;
}

body{
    background-color: #fff;
}

.container-reset-password{
    margin: 50px auto 198px;
    //margin: 186px auto 198px;
    max-width: 376px;
}

.reset-title-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

.container-changed-password{
    margin: 50px auto 329px;
    //margin: 186px auto 329px;
    max-width: 376px;
}

.changed-title-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

.info-change{
    margin-top: 16px;
    @include lexend-regular;
    color: #505E68;
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    
}

.container-button-change{
    margin-top: 32px;
}