@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap");

$font-lexend: "Lexend", sans-serif;

@mixin lexend-medium {
  font-family: $font-lexend;
  font-weight: 500;
}

.btn-login {
  width: 376px;
  height: 56px;
  padding: 16px 0 16px 0;
  background-color: #7101ff;
  @include lexend-medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: #fff;
  text-align: center;
  border: none;
  &:hover {
    background-color: lighten(#7101ff, 15%);
    cursor: pointer;
  }
}

.btn-cancel {
  width: 376px;
  height: 56px;
  padding: 16px 0 16px 0;
  background-color: #fff;
  border: none;
  &:hover {
    background-color: #d9dacc;
    cursor: pointer;
  }
  & p {
    @include lexend-medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #2c343a;
    text-align: center;
  }
}
