@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

$font-nunito: "Nunito", sans-serif;

@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 40px 0 32px;
  border: none;
  & .header-logo-img {
    display: block;
    height: 42px;
    width: 42px;
  }
  & .header-avatar-img {
    display: block;
    height: 32px;
    width: 32px;
  }
}
