@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&family=Nunito:wght@500;600;700&display=swap');

$font-lexend: 'Lexend', sans-serif;
$font-nunito: 'Nunito', sans-serif;

@mixin nunito-medium {
  font-family: $font-nunito;
  font-weight: 500;
}

@mixin nunito-semibold {
  font-family: $font-nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

@mixin lexend-medium {
  font-family: $font-lexend;
  font-weight: 500;
}

@mixin lexend-bold {
  font-family: $font-lexend;
  font-weight: 700;
}

@mixin lexend-regular {
  font-family: $font-lexend;
  font-weight: 400;
}

.student-detail-container {
  background-color: #fff;
  min-height: 100vh;
  & .main-container {
    padding-top: 75px;
    position: relative;
    & .btn-back {
      position: absolute;
      top: 63px;
      left: 32px;
      background-color: initial;
      outline: none;
      border: none;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      width: 168px;
      height: 56px;
      padding: 16px 48.5px 16px 48.5px;
      cursor: pointer;
      & img {
        display: block;
        width: 24px;
        height: 24px;
      }
      & span {
        @include lexend-medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.32px;
        color: #000;
      }
    }
    & .info-container {
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      gap: 80px;
      max-width: 832px;
      & .left-info {
        max-width: 376px;
        & h1 {
          @include lexend-bold;
          color: #000;
          font-size: 20px;
          line-height: 32px;
          text-align: start;
        }
      }
      & .student-container-button-update {
        margin-top: 32px;
      }
      & .right-info {
      max-width: 376px;
      & h2{
         @include lexend-bold;
          color: #000;
          font-size: 20px;
          line-height: 32px;
          text-align: start;
      }
    }
    }
    
  }
}

.dropzone {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-top: 32px;
  & img {
    display: block;
    min-width: 168px;
    min-height: 168px;
    object-fit: cover;
    border-radius: 50%;
  }
  & .file-section {
    display: flex;
    flex-direction: column;
    gap: 56px;
    & .btn-drop {
      width: 168px;
      height: 40px;
      background-color: #f3f5fa;
      outline: none;
      border: none;
      padding: 0;
      @include lexend-medium;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: -0.26px;
      color: #000;
    }
    & p {
      @include lexend-regular;
      font-size: 14px;
      line-height: 24px;
      color: #505e68;
    }
  }
}

.select-list{
  width: 376px;
}
