@import url(./reset.scss);

/*
// Variables
// Fonts

$font-lexend: 'Lexend', sans-serif;
$font-nunito: 'Nunito', sans-serif;

//Color

//Mixin
@mixin nunito-medium {
  font-family: $font-nunito;
  font-weight: 500;
}

@mixin nunito-semibold {
  font-family: $font-nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

@mixin lexend-thin {
  font-family: $font-lexend;
  font-weight: 100;
}

@mixin lexend-regular {
  font-family: $font-lexend;
  font-weight: 400;
}

@mixin lexend-medium {
  font-family: $font-lexend;
  font-weight: 500;
}

@mixin lexend-bold {
  font-family: $font-lexend;
  font-weight: 700;
}
*/




 