@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@700&display=swap");

$font-lexend: "Lexend", sans-serif;
$font-nunito: "Nunito", sans-serif;

$black: #000;

@mixin lexend-bold {
  font-family: $font-lexend;
  font-weight: 700;
}

.title-container{
  margin: 0 auto;
  max-width: 376px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

img {
  display: block;
  width: 79px;
  height: 80px;
}
h1 {
  @include lexend-bold;
  color: $black;
  font-size: 20px;
  line-height: 32px;
  max-width: 100;
}
