@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

$font-lexend: 'Lexend', sans-serif;

@mixin lexend-regular {
  font-family: $font-lexend;
  font-weight: 400;
}

body{
    background-color: #fff;
}

.container-forgot-password{
    margin: 50px auto 152px;
    //margin: 186px auto 152px;
    max-width: 376px;
}

.forgot-title-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
}

.info-reset{
    margin-top: 32px;
    @include lexend-regular;
    color: #505E68;
    font-size: 19px;
    line-height: 32px;
    text-align: start;
    
}

.container-button-reset{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}