@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

$font-nunito: "Nunito", sans-serif;

@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  padding: 0 40px 0 43px;
  border-bottom: 1px solid #dee0e5;
  & h1 {
    @include nunito-bold;
    color: #111112;
    font-size: 24px;
    line-height: 24px;
  }
  & img {
    display: block;
    height: 32px;
    width: 32px;
  }
}
