@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

$font-nunito: 'Nunito', sans-serif;

@mixin nunito-medium {
  font-family: $font-nunito;
  font-weight: 500;
}

@mixin nunito-semibold {
  font-family: $font-nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

.students-container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  & .actions-student {
    margin: 20px 40px 0px 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    & .custom-select {
      width: 140px;
      height: 38px;
      @include nunito-medium;
      font-size: 14px;
      line-height: 24px;
      border-color: red;
    }
    & .sort-by {
      @include nunito-medium;
      font-size: 14px;
      line-height: 24px;
      color: #afb7d3;
    }
    & .search-container {
      position: relative;
      & .search-icon {
        position: absolute;
        top: 11px;
        left: 14px;
        display: block;
        width: 16px;
        height: 16px;
      }
      & .search {
        width: 236px;
        height: 38px;
        border: 1px solid #e4e7ed;
        border-radius: 6px;
        padding-left: 40px;
        @include nunito-medium;
        font-size: 12px;
        line-height: 140%;
        color: #000;
        &::placeholder {
          @include nunito-medium;
          font-size: 12px;
          line-height: 140%;
          color: #9f9fb6;
        }
        &:focus {
          border: 1px solid #e4e7ed;
          outline: none;
        }
      }
    }

    & .add-student-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 6px;
      width: 167px;
      height: 38px;
      padding: 7px 16px 7px 16px;
      background-color: #7101ff;
      border: none;
      border-radius: 6px;
      @include nunito-medium;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      &:hover {
        background-color: lighten(#7101ff, 15%);
        cursor: pointer;
      }
      & img {
        display: block;
        width: 19px;
        height: 19px;
      }
    }
  }
  & .students-functionality {
    margin: 17px 27px 20px 39px;
    flex-grow: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7101ff;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: #e5e9f0;
      border-radius: 6px;
    }
  }
}

.student-table-header {
  display: grid;
  grid-template-columns: 8% 12% 15% 20% 10% 15% 15% 5%;
  margin: 20px 40px 0px 39px;
  align-items: center;
  justify-items: start;
  & .student-column-header {
    @include nunito-semibold;
    font-size: 16px;
    line-height: 24px;
    color: #9f9fb6;
    opacity: 0.6;
  }
  & .student-column-header-first {
    padding-left: 12px;
  }
}

.student-table-body {
  .student-row {
    display: grid;
    grid-template-columns: 8% 12% 15% 20% 10% 15% 15% 5%;
    height: 56px;
    margin-right: 9px;
    margin-bottom: 8px;
    align-items: center;
    justify-items: start;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    & .student-column-table {
      @include nunito-bold;
      font-size: 16px;
      line-height: 24px;
      color: #111112;
    }
    & .student-column-table-first {
      padding-left: 16px;
    }
    & .student-column-table-last {
      align-self: center;
      justify-self: end;
      padding-right: 16px;
    }
    & .img-avatar {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    & button {
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      display: block;
      cursor: pointer;
      background-image: url(../../img/Update-btn.svg);
      &:hover {
        background-image: url(../../img/Update-btn-active.svg);
      }
      & img {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }
}

