.primary-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  & .aside-container {
    background-color: #3f1e85;
    width: 260px;
    min-height: 100vh;
  }
  & .main-container {
    width: 100%;
    min-height: 100vh;
  }
}
