@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

$font-nunito: "Nunito", sans-serif;

@mixin nunito-medium {
  font-family: $font-nunito;
  font-weight: 500;
}

.sidebar-container {
  background-color: #3f1e85;
  width: 260px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  padding: 14px 0 14px 31px;
  border-bottom: 1px solid #4e308f;

  & .dashboard-logo {
    width: 42px;
    height: 43px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  & .top-li {
    margin-top: 20px;
    border-bottom: 1px solid #4e308f;
  }
  a {
    text-decoration: none;
    display: block;
  }
  & li {
    list-style: none;
    padding: 16px 20px 16px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    &:hover {
      background-color: #4b259b;
      & p {
        color: #fff;
        opacity: 1;
      }
      & img {
        opacity: 1;
      }
    }
    & img {
      display: block;
      width: 18px;
      height: 18px;
      opacity: 0.89;
    }
    & p {
      color: #fff;
      opacity: 0.8;
      @include nunito-medium;
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.active-link {
  background-color: #4b259b;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #fff;
  }
  & .active-img {
    opacity: 1;
  }
  & .active-text {
    color: #fff;
    opacity: 1;
  }
}

.btn-logout {
  width: 260px;
  height: 56px;
  margin-bottom: 20px;
  padding: 17px 20px 17px 32px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  align-items: center;
  background-color: #3f1e85;
  border: none;
  cursor: pointer;
  & img {
    display: block;
    width: 18px;
    height: 18px;
  }
  & p {
    @include nunito-medium;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
  }
  &:hover{
    background-color: #4b259b;
  }
}
