@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

$font-nunito: 'Nunito', sans-serif;

@mixin nunito-medium {
  font-family: $font-nunito;
  font-weight: 500;
}

@mixin nunito-semibold {
  font-family: $font-nunito;
  font-weight: 600;
}

@mixin nunito-bold {
  font-family: $font-nunito;
  font-weight: 700;
}

.lectors-container {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  & .actions-lector {
    margin: 20px 40px 0px 39px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    & .add-lector-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 6px;
      width: 155px;
      height: 38px;
      padding: 7px 16px 7px 16px;
      background-color: #7101ff;
      border: none;
      border-radius: 6px;
      @include nunito-medium;
      font-size: 14px;
      line-height: 24px;
      color: #fff;
      &:hover {
        background-color: lighten(#7101ff, 15%);
        cursor: pointer;
      }
      & img {
        display: block;
        width: 19px;
        height: 19px;
      }
    }
  }
  & .lectors-functionality {
    margin: 17px 27px 20px 39px;
    flex-grow: 1;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #7101ff;
      border-radius: 6px;
    }
    &::-webkit-scrollbar-track {
      background-color: #e5e9f0;
      border-radius: 6px;
    }
  }
}

.lector-table-header {
  display: grid;
  grid-template-columns: 20% 20% 25% 25% 10%;
  margin: 20px 40px 0px 39px;
  align-items: center;
  justify-items: start;
  & .lector-column-header {
    @include nunito-semibold;
    font-size: 16px;
    line-height: 24px;
    color: #9f9fb6;
    opacity: 0.6;
  }
  & .lector-column-header-first {
    padding-left: 12px;
  }
}

.lector-table-body {
  .lector-row {
    display: grid;
    grid-template-columns: 20% 20% 25% 25% 10%;
    height: 56px;
    margin-right: 9px;
    margin-bottom: 8px;
    align-items: center;
    justify-items: start;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    & .lector-column-table {
      @include nunito-bold;
      font-size: 16px;
      line-height: 24px;
      color: #111112;
    }
    & .lector-column-table-first {
      padding-left: 12px;
    }
    & .lector-column-table-last {
      align-self: center;
      justify-self: end;
      padding-right: 16px;
    }
    & button {
      width: 24px;
      height: 24px;
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      display: block;
      cursor: pointer;
      background-image: url(../../img/Update-btn.svg);
      &:hover {
        background-image: url(../../img/Update-btn-active.svg);
      }
      & img {
        display: block;
        width: 24px;
        height: 24px;
      }
    }
  }
}
